sling.context="default"
service.bundleLocation="launchpad:resources/install.jackrabbit/15/org.apache.sling.jcr.jackrabbit.server-2.1.3-SNAPSHOT.jar"
service.pid="org.apache.sling.jcr.jackrabbit.server.SlingServerRepository.10c6e403-81ac-4e5e-8145-2c8441a03521"
admin.password="not-used"
name="jackrabbit"
anonymous.password="not-used"
service.factoryPid="org.apache.sling.jcr.jackrabbit.server.SlingServerRepository"
home="jackrabbit"
